.ShoppingCart__container {
    position: fixed;
    right: 0;
    top: 6%;
    height: 100vh;
    width: 350px;
    background-color: rgb(18, 18, 18);
    animation: appear 300ms linear;
    z-index: 1;
    color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    box-sizing: border-box;
}

.ShoppingCart__header {
    position: relative;
    padding-top: 1rem;
    font-size: 26px;
    text-align: center;
     border-bottom: 2px solid white; 
    box-sizing: border-box;
    padding-bottom: 0.3rem;
    margin: 0 3rem;
}

/* .ShoppingCart__header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2rem;
    width: 0%;
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 2px solid white;
    animation-delay: 1.5s;
    animation: underlineAppear 1000ms ease-in forwards
} */

.ShoppingCart__item-list__wrapper {
    width: 100%;
    padding: 0.5rem 0.5rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    box-sizing: border-box;
}

.ShoppingCart__item__container {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(121, 121, 121);
    box-sizing: border-box;
}

.ShoppingCart__item__container img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.ShoppingCart__item__name-price__container {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 0 0.5rem 1rem;
    box-sizing: border-box;
} 

.ShoppingCart__item__name {
    color: white;
    
}

.ShoppingCart__item__price {
    color: white;
    margin-top: 0.2rem;
}


.ShoppingCart__item__amount__container {
    width: 2rem;
    height: 2rem;
    background-color: white;
    display: flex;
    border-radius: 50%;
    margin: auto 2rem auto auto;
}

.ShoppingCart__item__amount {
    background: none;
    margin: auto;
    border: none;
    width: 2rem;
    height: 2rem;
    padding-top: 2px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
}

.ShoppingCart__bottom__wrapper {
    position: relative;
    display: flex;
}

.ShoppingCart__bottom__total {
    align-self: end;
    padding-top: 1px;
    padding-right: 0.2rem;
    font-size: 26px;
    margin: auto 0 0 2rem;
    box-sizing: border-box;
}

.ShoppingCart__bottom__VAT {
    font-size: 12px;
    margin-top: auto;
    padding-bottom: 7px;
    color: grey;
}

.ShoppingCart__bottom__checkout {
    background-color: white;
    border: none;
    font-size: 24px;
    letter-spacing: 0.5px;
    padding: 0.5rem 1rem;
    margin: 0 1rem 0 auto;
}

.ShoppingCart__bottom__checkout:hover {
    background-color: grey;
    cursor: pointer;
}

@keyframes appear {
    0% {
        right: -300px;
    }

    100% {
        right: 0;
    }
}

/* @keyframes underlineAppear {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
} */

@media only screen and (max-width: 600px) {
    .ShoppingCart__container {
        width: 100%;
        padding: 0.5rem 0.5rem 0 rem;
    }
}